body {
  margin: 0;
  padding: 0;
  color: var(--fem-clr-accent-3);
  font-family: var(--fem-font-family-default);
  font-size: var(--fem-fs-base);
  line-height: 1.2;
}

footer {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  a {
    color: var(--fem-clr-accent-4);
    font-weight: var(--fem-fw-bold);
    transition: all 0.2s;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .attribution {
    padding: 1rem;
  }
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}